{% extends 'base.html.twig' %}

{% block title %}Edit Rubrique{% endblock %}

{% block body %}



    {% include 'tmp.html.twig' %}

    <div class="content">
        <div class="container-fluid">



            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    {{ form_start(form)}}
                    <div class="card">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">note_add</i>
                            </div>
                            <h4 class="card-title">Modifier fichier PDF</h4>
                        </div>
                        <div class="card-body ">


                            <div class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        <div class="form-group has-default bmd-form-group">


                                            {{ form_row(form.title,{'attr':{'class':'form-control'}}) }}

                                        </div>

                                        <div class="form-group has-default bmd-form-group">


                                            {{ form_row(form.namefile,{'attr':{'class':'form-control'}}) }}

                                        </div>

                                        <div class="form-group has-default bmd-form-group">


                                            {{ form_row(form.description,{'attr':{'class':'form-control'}}) }}

                                        </div>
                                        <div class="form-group has-default bmd-form-group">


                                            {{ form_row(form.rubrique,{'attr':{'class':'form-control'}}) }}

                                        </div>


                                        {{ form_row(form.URL,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="card-footer ml-auto mr-auto">

                            <button type="submit" class="btn btn-fill btn-rose ">Modifier</button>

                        </div>
                        {{ form_end(form)}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--tmp div-->
    </div>
    </div>
    <!--End tmp div-->
{% endblock %}
